{{ ansible_managed | comment("xml") }}

<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0
                      http://maven.apache.org/xsd/maven-4.0.0.xsd">
<modelVersion>4.0.0</modelVersion>
<groupId>ansible</groupId>
<artifactId>oracle_java_connector</artifactId>
<version>{{ oracle_jdbc_connector_version }}</version>
<dependencies>
{% for component in oracle_jdbc_connector_components %}
  <dependency>
    <groupId>{{ oracle_jdbc_connector_maven_group_id }}</groupId>
    <artifactId>{{ component }}</artifactId>
    <version>{{ oracle_jdbc_connector_version }}</version>
  </dependency>
{% endfor %}
</dependencies>
<repositories>
  <repository>
    <id>maven.oracle.com</id>
    <name>oracle-maven-repo</name>
    <url>https://maven.oracle.com</url>
    <layout>default</layout>
    <releases>
      <enabled>true</enabled>
      <updatePolicy>always</updatePolicy>
    </releases>
  </repository>
</repositories>
<pluginRepositories>
  <pluginRepository>
    <id>maven.oracle.com</id>
    <name>oracle-maven-repo</name>
    <url>https://maven.oracle.com</url>
    <layout>default</layout>
    <releases>
      <enabled>true</enabled>
      <updatePolicy>always</updatePolicy>
    </releases>
  </pluginRepository>
</pluginRepositories>
</project>
